<!--
  Generated template for the TabPassivePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><ion-icon name="people"></ion-icon> KH sau 10 ngày mua xe</ion-title>
      <ion-buttons end>
          <ion-spinner *ngIf='isLoading' name='dots'></ion-spinner>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content no-padding>
      <ion-refresher (ionRefresh)="onRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
        pullingText="Kéo xuống để tải lại"
        refreshingSpinner="circles"
        refreshingText="Đang tải..."></ion-refresher-content>
      </ion-refresher>
      <ion-grid ngClass="table">
        <ion-row ngClass="row-header">
          <ion-col align-items-center>Tên</ion-col>        
          <ion-col align-items-center>Ngày sinh</ion-col>        
          <ion-col align-items-center>Điện thoại</ion-col>        
          <ion-col align-items-center>Loại xe</ion-col>        
          <ion-col align-items-center>Ngày mua xe</ion-col>
          <ion-col align-items-center>Ý kiến KH</ion-col>
          <ion-col align-items-center>Thao tác</ion-col>
        </ion-row>
        <ion-row ngClass="row-body" *ngFor='let customer of customers'>
            <ion-col>{{customer.full_name}}</ion-col>        
            <ion-col>{{customer.birthday}}</ion-col>        
            <ion-col>{{customer.phone}}</ion-col>        
            <ion-col>{{customer.bike_name}}</ion-col>        
            <ion-col><p ion-text color='secondary' no-margin>{{customer.buy_date}}</p></ion-col>        
            <ion-col>Chưa có</ion-col>        
            <ion-col><button ion-button small clear outline no-padding no-margin (click)='showFeedbackAfterBuy($event, customer)'>Lấy ý kiến</button></ion-col>
        </ion-row>
      </ion-grid>
      <!-- <ion-list>
        <ion-item-sliding *ngFor='let customer of customers'>
          <ion-item (click)='showFeedbackAfterBuy($event, customer)'>
            <h2>{{customer.full_name}}</h2>
            <ion-row>
              <ion-col no-padding>
                  <p><ion-icon name="call"></ion-icon> {{customer.phone}}</p>
              </ion-col>
              <ion-col no-padding text-right>
                  <p><ion-icon name="rose"></ion-icon> {{customer.birthday}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col no-padding>
                  <p><ion-icon name="bicycle"></ion-icon> Loại xe</p>
              </ion-col>
              <ion-col no-padding text-right>
                  <p>{{customer.bike_name}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col no-padding>
                  <p><ion-icon name="clock"></ion-icon> Ngày mua xe</p>
              </ion-col>
              <ion-col no-padding text-right>
                  <p ion-text color='secondary'>{{customer.buy_date}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col no-padding>
                  <p><ion-icon name="megaphone"></ion-icon> Ý kiến KH</p>
              </ion-col>
              <ion-col no-padding text-right>
                  <p ion-text color='secondary'><i>Chưa có</i></p>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-item-sliding>
      </ion-list> -->
    </ion-content>
  