<!--
  Generated template for the CustomerDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Chi tiết Khách hàng</ion-title>
    <!-- <ion-buttons end>
        <button ion-button clear (click)="onEditCustomer($event)">Sửa</button>
    </ion-buttons> -->
    <ion-buttons end>
        <ion-spinner *ngIf='isLoading' name='dots'></ion-spinner>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card no-padding>
      <ion-card-header no-padding color='primary'>
        Thông tin Khách hàng
      </ion-card-header>
      <ion-list>
        <ion-item >
          <h2>{{customer.full_name}}</h2>
          <p><ion-icon name="call"></ion-icon> {{customer.phone}}</p>
          <p><ion-icon name="notifications"></ion-icon> {{customer.birthday}}</p>
        </ion-item>        
      </ion-list>
    </ion-card>

    <ion-card no-padding>
        <ion-card-header no-padding color='primary'>
          Xe đã mua <span style="font-size: 0.8em;font-style: italic">(Vuốt sang trái để thao tác)</span>
        </ion-card-header>
        <ion-list>
          <ion-item-sliding *ngFor="let bike of bikes">
            <ion-item>
              <h3>{{bike.bike_name}}</h3>
              <p>CH: {{bike.shop_name}}</p>
              <p>Ngày mua: {{bike.buy_date}}</p>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button (click)="onMaintance(bike.id)">
                  <ion-icon slot="icon-only" name="construct"></ion-icon>
                  Bảo dưỡng
              </button>
              <button ion-button color="secondary" (click)="onCallout(bike.id)">
                  <ion-icon slot="icon-only" name="call"></ion-icon>
                  Gọi ra
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
    </ion-card>
</ion-content>