// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
* ::-webkit-scrollbar {
    display: none;
}

body {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.menu-inner .scroll-content {
    overflow-y: auto !important
}

ion-menu ion-content {
    background-color: map-get($map: $colors, $key: primary) !important
}

.user-info-wrapper {
    background-color: map-get($map: $colors, $key: primary)
}

.split-pane-md.split-pane-visible > .split-pane-side {
    max-width: 22% !important;
}

div.alert-message {
    overflow-y: auto !important
}

.alert-md .alert-wrapper {
    max-width: 380px !important
}

.table {
    width: 100%;
    .row-header {
        th {
            border-width: 1px 1px 1px 0;
            border-style: solid;
            border-color: map-get($colors, table-line-color );
            font-weight: bold;
            color: map-get($colors, table-text-color );
            padding: 4px;
            text-align: left
        }
    }

    .row-body {
        td {
            border-width: 0 1px 1px 0;
            border-style: solid;
            border-color: map-get($colors, table-line-color );
            color: map-get($colors, table-text-color );
            padding: 0 4px 0 4px;
            font-size: 0.9em
        }
    }
}
.width-50 {
    width: 50% !important
}
