<!--
  Generated template for the FeedbackAfterBuyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title><ion-icon name="calendar"></ion-icon> Đặt hẹn làm lại miễn phí</ion-title>
      <ion-buttons end>
          <ion-spinner *ngIf='isLoading' name='dots'></ion-spinner>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


  <ion-content padding>
      <ion-card no-padding no-margin style="width: 100%;">
        <ion-list>
          <ion-item >
            <p ion-text color="primary">Thông tin</p>
            <h2 style="padding-top: 6px">{{customer.full_name}}</h2>
            <ion-row>
              <ion-col col-9>
                <p><ion-icon name="call"></ion-icon> {{customer.phone}}</p>
                <p><ion-icon name="bicycle"></ion-icon> {{customer.bike_name}}</p>
                <p><ion-icon name="calendar"></ion-icon> Ngày dịch vụ: {{customer.maintance_date}}</p>
                <p><ion-icon name="megaphone"></ion-icon> Ý kiến KH: <i>{{customer.feedback ? customer.feedback : 'Chưa có'}}</i></p>
              </ion-col>
              <ion-col col-3 text-right>
                <button ion-button color="secondary" (click)="onCallPhone(customer.phone)"><ion-icon name="call"></ion-icon>&nbsp;Gọi {{customer.phone}}</button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
        <p style="padding-left: 16px;font-size: 0.82em">Chi tiết dịch vụ lần này: {{customer.maintance_name}}</p>
        <table padding ngClass="table width-50">
          <tr ngClass="row-header">
            <th style="padding-left: 16px">Dịch vụ</th>
            <th text-right style="padding-right: 16px">Giá</th>
          </tr>
          <tr ngClass="row-body" *ngFor='let maintance_detail of maintance_details'>
              <td style="padding-left: 16px">{{maintance_detail.name}}</td>        
              <td ion-text text-right style="padding-right: 16px">{{maintance_detail.price | number}}</td>
          </tr>
          <tr ngClass="row-body">
            <td style="padding-left: 16px">TỔNG</td>
            <td ion-text text-right style="padding-right: 16px">
              <p style="font-weight: bold">{{sum | number}}</p>
            </td>
          </tr>
        </table>
        <p style="padding: 16px 0 0 16px;font-size: 0.82em">Lịch sử dịch vụ:</p>
        <table ngClass="table">
            <tr ngClass="row-header">
              <th style="padding-left: 16px">Xe</th>
              <th>Ngày</th>
              <th>Loại bảo dưỡng</th>
              <th text-right>Chi phí</th>
              <th>Phàn nàn?</th>
              <th>Ý kiến</th>
            </tr>
            <tr ngClass="row-body" *ngFor='let man of maintances'>
              <td style="padding-left: 16px">{{man.bike_name}}</td>
              <td>{{man.maintance_date}}</td>
              <td>{{man.maintance_name}}</td>
              <td text-right>{{man.total_price | number}}</td>
              <td>{{man.is_complain == 1 ? 'Có' : ''}}</td>
              <td>{{man.feedback}}</td>
            </tr>
        </table>
      </ion-card>

      <form (ngSubmit)="onSaveSchedule()">        
        <ion-item-divider color="light"><p ion-text color="primary">Nhập lịch hẹn làm lại dịch vụ miễn phí</p></ion-item-divider>
        <ion-item>
          <ion-label>Hẹn ngày:</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY HH:mm" max={{maxSelectableDate}} placeholder="dd/mm/yyyy" [(ngModel)]="schedule.book_date" name='book_date'></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Dịch vụ:</ion-label>
          <ion-select placeholder='Chọn dịch vụ' [(ngModel)]="schedule.dich_vu_id" interface="popover" name='dich_vu_id' >
            <ion-option *ngFor="let dich_vu of dich_vu_list" value="{{dich_vu.id}}">{{dich_vu.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Miễn phí?: <i>({{schedule.is_free ? 'Có' : 'Không'}})</i></ion-label>
          <ion-toggle checked="true" [(ngModel)]="schedule.is_free" name="is_free"></ion-toggle>
        </ion-item>
        <button ion-button type="submit" block><ion-icon name="paper-plane"></ion-icon> Lưu</button>
      </form>
    </ion-content>
