<!--
  Generated template for the CustomerAddNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Thêm mới Khách hàng</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
    <form (ngSubmit)="addNewCustomer()">
      <ion-item-divider color="light">Thông tin Khách hàng</ion-item-divider>
      <ion-item>
        <ion-label>Tên KH:</ion-label>
        <ion-input type="text" placeholder="Nhập Họ tên" [(ngModel)]="customer.full_name" name="full_name" text-right text-capitalize></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Ngày sinh:</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" placeholder="dd/mm/yyyy" [(ngModel)]="customer.birthday" name="birthday"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Giới tính:</ion-label>
        <ion-select placeholder='Giới tính' [(ngModel)]="customer.sex" name="sex" interface='popover'>
          <ion-option value="0">Nữ</ion-option>
          <ion-option value="1">Nam</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Điện thoại:</ion-label>
        <ion-input type="tel" placeholder="Nhập điện thoại" [(ngModel)]="customer.phone" name="phone" text-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tỉnh/TP:</ion-label>
        <ion-select placeholder='Chọn Tỉnh/TP' [(ngModel)]="customer.province_code" name="province_code" interface='popover' (ionChange)="onChangeProvince($event)">
          <ion-option *ngFor="let province of province_list" value="{{province.province_code}}">{{province.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Quận:</ion-label>
        <ion-select placeholder='Chọn Quận' [(ngModel)]="customer.district_code" name="district_code" interface='popover' (ionChange)="onChangeDistrict($event)">
            <ion-option *ngFor="let district of district_list" value="{{district.district_code}}">{{district.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Phường:</ion-label>
        <ion-select placeholder='Chọn Phường' [(ngModel)]="customer.precinct_code" name="precinct_code" interface='popover'>
            <ion-option *ngFor="let precinct of precinct_list" value="{{precinct.precinct_code}}">{{precinct.name}}</ion-option>
          </ion-select>
      </ion-item>
      <ion-item-divider color="light">Thông tin xe</ion-item-divider>
      <ion-item>
        <ion-label>Loại xe:</ion-label>
        <ion-select placeholder='Chọn loại xe' [(ngModel)]="customer.bike_type_id" name="bike_type_id" interface='action-sheet'>
          <ion-option *ngFor="let bike_type of bike_type_list" value="{{bike_type.id}}">{{bike_type.name}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- <ion-item>
        <ion-label>Biển số xe:</ion-label>
        <ion-input type="text" placeholder="Nhập biển số xe" [(ngModel)]="customer.bike_number" name="bike_number" text-right text-uppercase></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label>Ngày mua xe:</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" placeholder="dd/mm/yyyy" [(ngModel)]="customer.buy_date" name="buy_date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Cửa hàng:</ion-label>
        <ion-select placeholder='Chọn cửa hàng' [(ngModel)]="customer.shop_id" name="shop_id" interface='popover'>
          <ion-option *ngFor="let shop of shop_list" value="{{shop.id}}">{{shop.name}}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button type="submit" block>Thêm Khách hàng</button>
    </form>
</ion-content>
