<!--
  Generated template for the FeedbackAfterBuyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Phản hồi sau mua xe</ion-title>
    <ion-buttons end>
        <ion-spinner *ngIf='isLoading' name='dots'></ion-spinner>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-card no-padding no-margin style="width: 100%;">    
      <ion-list>
        <ion-item >
          <p ion-text color="primary">Thông tin</p>
          <h2 style="padding-top: 6px">{{customer.full_name}}</h2>
          <p><ion-icon name="call"></ion-icon> {{customer.phone}}</p>
          <p><ion-icon name="bicycle"></ion-icon> {{customer.bike_name}}</p>
          <p><ion-icon name="calendar"></ion-icon> Mua ngày: {{customer.buy_date}}</p>
          <p><ion-icon name="megaphone"></ion-icon> Ý kiến mua xe: <i>Chưa có</i></p>
        </ion-item>
      </ion-list>
    </ion-card>
  
    <p ion-text color="primary">Nhập phản hồi KH sau mua xe</p>
    <form (ngSubmit)="onSaveFeedbackAfterBuy()">
      <ion-item>
        <ion-label>Ý kiến sau mua xe:</ion-label>
        <ion-select placeholder='Chọn ý kiến KH' [(ngModel)]="feedback_after_buy.y_kien_mua_xe_id" interface="action-sheet" name='y_kien_mua_xe_id' >
          <ion-option *ngFor="let opinion of opinion_list" value="{{opinion.id}}">{{opinion.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Biển số xe:</ion-label>
        <ion-input type="text" placeholder='Biển số xe' [(ngModel)]="feedback_after_buy.bike_number" name='bike_number' text-right text-uppercase></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Ghi chú:</ion-label>
        <ion-textarea text-right placeholder="Nhập ghi chú" [(ngModel)]="feedback_after_buy.note" name='note' rows="4"></ion-textarea>
      </ion-item>   
      <button ion-button type="submit" block><ion-icon name="paper-plane"></ion-icon> Lưu</button>
    </form>
  </ion-content>
